@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@800;900&family=Outfit:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @media (min-width: 768px) {
    #header {
      height: 43.75rem;
      background-image: url("./images/tablet/image-hero.jpg");
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 27.313rem 43.75rem;
    }
  }
  @media (min-width: 1280px) {
    #header {
      height: 50rem;
      background-image: url("./images/desktop/image-hero.jpg");
      background-position: 28.125rem center;
      background-repeat: no-repeat;
      background-size: 33.75rem 50rem;
    }
  }
}
@layer components {
  .leaflet-div-icon {
    background-color: transparent;
    border: none;
  }

  @media (min-width: 768px) {
    .leaflet-container {
      height: 600px !important;
    }
  }
}
